<div class="admin-page">
    <div class="container admin-content">
        <div>
            <div class="row">
                <button ng-click="vm.close()" type="button" class="admin close-button btn btn-default">
                    Закрыть
                </button>
                <div class="col-md-3">
                    <img class="user-image img-circle" alt="Bootstrap Image Preview"
                         src="http://lorempixel.com/140/140/"/>

                    <div>
                        <h4>{{vm.username}}</h4>
                        <h5>{{vm.email}}</h5>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Заведения
                            </h3>
                        </div>
                        <div class="panel-body">
                            Комментарии
                        </div>
                        <div class="panel-footer">
                            Настройки пользователя
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="page-header">
                        <h1>
                            LayoutIt!
                            <small>Interface Builder for Bootstrap</small>
                        </h1>
                    </div>
                    <div class='user-cities-list'>
                        <div ng-if="!showEditForm" class="form-group">
                            <label for="sel1">Выберите город:</label>
                            <select ng-model='manageCity' class="form-control" id="sel1">
                                <option ng-selected value='all'>Не выбран (Все добавленные заведения)</option>
                                <option ng-repeat='city in cities' ng-value='city.code'>{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="edit-form" edit-location-form selectedId="{{vm.editID}}" visible="{{showEditForm}}"
                         locations="{{locations}}"
                         ng-if="showEditForm"></div>
                    <div ng-if="!showEditForm" class="user-table table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Город
                                </th>
                                <th>
                                    Название заведения
                                </th>
                                <th>
                                    Тип
                                </th>
                                <th>
                                    Представлена еда
                                </th>
                                <th>

                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="location in locations">
                                <td>
                                    {{::location.id}}
                                </td>
                                <td>
                                    {{::location.city | city}}
                                </td>
                                <td>
                                    {{location.name}}
                                </td>
                                <td>
                                    {{location.type | locationDetails}}
                                </td>
                                <td>
                                    {{location.specification | locationDetails}}
                                </td>
                                <td>
                                    <span ng-click="editLocation(location.id)" class="glyphicon glyphicon-edit"></span>
                                    <span ng-click="deleteLocation(location.city, location.id)" class="glyphicon glyphicon-remove"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>