<div class="admin-page">
    <div class="container admin-content">
        <div>
            <div class="row">
                <button ng-click="vm.close()" type="button" class="admin close-button btn btn-default">
                    Закрыть
                </button>
                <div class="col-md-3">
                    <img class="user-image img-circle" alt="Bootstrap Image Preview"
                         src="http://lorempixel.com/140/140/"/>

                    <div>
                        <h4>{{vm.username}}</h4>
                        <h5>{{vm.email}}</h5>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ui-sref-active="active"><a ui-sref='admin.locations'>Заведения</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref='admin.comments'>Комментарии</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref='admin.users'>Пользователи</a></li>
                        <li role="presentation" ui-sref-active="active"><a ui-sref='admin.settings'>Настройки</a></li>
                    </ul>
                </div>
                <div class="col-md-9" ui-view>
                </div>
            </div>
        </div>
    </div>
</div>