<div class="location-form">
    <form ng-submit='addLocation()' class='add-location-form'>
        <div class="form-group">
            <button class="btn btn-default button--close-edit-form" ng-click="close()">Закрыть</button>
        </div>
        <div class="form-group">
            <label for='form-name'>Название заведения</label>
            <input id="form-name" class='form-control form-name' placeholder='введите название'
                   ng-model='locationData.name' type='text' required>
        </div>
        <div class="form-group">
            <label for='form-address'>Адрес</label>
            <input id="form-address" class='form-control' ng-model='locationData.address' type='text' required>
        </div>
        <div class="form-group">
            <label for='form-type'>Тип заведения</label>
            <select id="form-type" class='form-control' ng-model='locationData.type' required>
                <option value='cafe' selected='selected'>Кафе</option>
                <option value='eatery'>Столовая</option>
                <option value='restaurant'>Ресторан</option>
                <option value='coffee'>Кофейня</option>
                <option value='other'>Другое</option>
            </select>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label class="form-label--time" for="form-time">Время работы</label>
                <input id="form-time" class='form-control form-time' placeholder='время работы'
                       ng-model='locationData.business_time' required
                       type='text'>
            </div>
            <div class="form-group form--avg-check">
                <div class="form-inline">
                    <label class="form-label--price" for="form-price">Средний чек</label>

                    <div class="form-group">
                        <slider class="slider-price" ng-model="locationData.price" min="valueRange.min"
                                step="valueRange.step"
                                max="valueRange.max"></slider>
                        <div class="input-group">
                            <input id='form-price' class='form-control form-price' placeholder='средний чек'
                                   ng-model='locationData.price' required
                                   type='text'>

                            <div class="input-group-addon">₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-inline form--special-group">
                <div class="form-group">
                    <div class="form-inline">
                        <label>Представлена еда:</label>

                        <div ng-repeat="spec in specifications" class="checkbox">
                            <label>
                                <input type='checkbox' checklist-model='locationData.specification'
                                       checklist-value="spec.value">
                                {{spec.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-rating-group">
                    <div class="form-inline">
                        <label> Оцените заведение: </label>

                        <div class="form-group">
                            <div class="form-rating"></div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group form--description-group">
        <textarea class='form-control form-description' placeholder='что в меню?' ng-model='locationData.description'
                  required cols='10'
                  rows='5'></textarea>
        </div>
        <div class="col-sm-offset-2 edit-form-submit col-sm-10">
            <input class='btn-default btn location-form-submit' type='submit' value='Сохранить'>
        </div>
    </form>
</div>