<div class="location-form">
    <form ng-submit='addLocation()' novalidate class='add-location-form'>
        <input type='hidden' name='address' class='address'>
        <input class='form-control form-name' placeholder='введите название' ng-model='locationData.name' type='text'>
        <label for='title'>Тип заведения</label>
        <select class='form-control' ng-model='locationData.type' name='type'>
            <option value='cafe' selected='selected'>Кафе</option>
            <option value='eatery'>Столовая</option>
            <option value='restaurant'>Ресторан</option>
            <option value='coffee'>Кофейня</option>
            <option value='other'>Другое</option>
        </select>
        <input class='form-control form-time' placeholder='время работы' ng-model='locationData.time' name='time' type='text'>
        <label for='title'>Представлена еда</label>
        <input name='specification' type='checkbox' ng-model='locationData.specification' value='vegetarian'>
        <label for='title'>Вегетарианская</label>
        <input name='specification' type='checkbox' ng-model='locationData.specification' value='vegan'>
        <label for='title'>Веганская</label>
        <textarea class='form-control form-description' placeholder='что в меню?' ng-model='locationData.description' name='description' cols='30'
              rows='10'></textarea>
        <input class='btn-default btn location-form-submit' type='submit' value='Сохранить'>
    </form>
</div>