<div class='location-details-container'>

    <div class='location-details-name'>
        <div class="location-details__name">
            <span ng-if="vm.markerModel.locations.length > 1"  ng-click="vm.changeLocation(vm.selectedLocation, true)" class="location-arrow location-arrow__left glyphicon glyphicon-chevron-left"></span>
            <h1 class="location-details__name__title">{{vm.selectedLocation.name}}</h1>
            <span ng-if="vm.markerModel.locations.length > 1"  ng-click="vm.changeLocation(vm.selectedLocation)" class="location-arrow location-arrow__right glyphicon glyphicon-chevron-right"></span>
        </div>


        <h2>{{vm.selectedLocation.address}}</h2>
    </div>
    <div class='location-details-type'>
        <h4 class='location-type'>Тип заведения:</h4>

        <p> {{vm.selectedLocation.type | locationDetails}}</p>
    </div>
    <div ng-hide='location.business_time == null' class='location-details-time'>
        <h4 class='location-time'>Время работы:</h4>

        <p>{{vm.selectedLocation.business_time}}</p>
    </div>
    <div class='location-specificatvm.selectedLocation'>
        <h4 class='location-specification'>Представлена кухня:</h4>

        <p>{{vm.selectedLocation.specification | locationDetails}}</p>
    </div>
    <div class='location-details-desc'>
        <h4 class='location-name'>В меню:</h4>

        <p>{{vm.selectedLocation.description}}</p>
    </div>
</div>
<div class='location-comments'>
    <h4 class='location-comments-header'>Отзывы</h4>

    <div ng-click='showCommentForm = ! showCommentForm' class='leave-comment btn-default btn'>Оставить комментарий</div>
    <div ng-show='showCommentForm' class='location-comment-form' leave-comment>
    </div>
</div>
<ul class='comments-list list-group'>
    <li class='list-group-item' ng-repeat="comment in vm.comments | orderBy:'-id'">
        <div class='list-date'>{{::comment.created_at | date: 'mediumDate'}}</div>
        <div class='list-author'>{{::comment.author}}</div>
        <raty id='star-rating' score='{{::comment.rating}}'></raty>
        <div class='list-body'>{{::comment.body}}</div>
    </li>
</ul>
